/*!--------------------------------FORMULARIO DE CLIENTES--------------------------------------*/

.contenedor {
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contact {
    gap: 10px !important;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}

#contact h3 {
    color: whitesmoke;
    display: block;
    font-size: 30px;
    font-weight: 150;
    margin-bottom: 2%;
}

#contact span {
    width: 30%;
}

#contact fieldset {
    width: 100% !important;
}


#contact input[type="text"]{
    width: 70%;
    background: #FFF;
    padding: 10px;
}

#contact input[type="text"]:hover{
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;

}



#contact button[type="submit"] {
    cursor: pointer;
    width: 50%;
    height: 7vh;
    background: #ffff00;
    margin-left: 25%;
    font-weight: 500;
}

#contact button[type="submit"]:hover {
    background: rgb(255, 217, 0);
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px gray;
    background: rgb(255, 217, 0)
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}


/*!------------------------------------CARDS MENSUALIDAD-------------------------------------------------------------*/

.contenedormensualidad {
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    background: #fff;
    color: hsl(233, 13%, 49%);
    border-radius: 0.3rem;
}

.cards .card.active {
    background: linear-gradient(135deg,
            yellow 0%,
            rgb(255, 218, 0)100%);
    color: #fff;
    display: flex;
    align-items: center;
    transform: scale(1.1);
    z-index: 1;
}

.listasMensualidad {
    margin: 2.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.listasMensualidad li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
}

.listasMensualidad li.price {
    font-size: 3rem;
    color: hsl(232, 13%, 33%);
    padding-bottom: 2rem;
}

.shadow {
    box-shadow: -5px 5px 15px 1px rgba(0, 0, 0, 0.1);
}

.card.active .price {
    color: #fff;
}

.btn {
    margin-top: 1rem;
    height: 2.6rem;
    width: 13.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: linear-gradient(135deg,
            yellow 0%,
            rgb(255, 218, 0)100%);
    color: #fff;
    outline: none;
    border: 0;
    font-weight: bold;
}

.active-btn {
    background: #fff;
    color: hsl(58, 100%, 67%);
}

.bottom-bar {
    border-bottom: 2px solid hsla(240, 8%, 85%, 0.582);
}

.card.active .bottom-bar {
    border-bottom: 2px solid hsla(240, 8%, 85%, 0.253);
}

.pack {
    font-size: 1.2rem;
}

@media (max-width: 280px) {
    ul {
        margin: 1rem;
    }

    h1 {
        font-size: 1.2rem;
    }

    .toggle {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 80px;
    }

    .cards {
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .card {
        transform: scale(0.8);
        margin-bottom: 1rem;
    }

    .cards .card.active {
        transform: scale(0.8);
    }
}

@media (min-width: 280px) and (max-width: 320px) {
    ul {
        margin: 20px;
    }

    .cards {
        display: flex;
        flex-direction: column;
    }

    .card {
        margin-bottom: 1rem;
    }

    .cards .card.active {
        transform: scale(1);
    }
}

@media (min-width: 320px) and (max-width: 414px) {
    .cards {
        display: flex;
        flex-direction: column;
    }

    .card {
        margin-bottom: 1rem;
    }

    .cards .card.active {
        transform: scale(1);
    }
}

@media (min-width: 414px) and (max-width: 768px) {
    .card {
        margin-bottom: 1rem;
        margin-right: 1rem;
    }

    .cards .card.active {
        transform: scale(1);
    }
}

@media (min-width: 768px) and (max-width: 1046px) {
    .cards {
        display: flex;
    }

    .card {
        margin-bottom: 1rem;
        margin-right: 1rem;
    }

    .cards .card.active {
        transform: scale(1);
    }
}

/*!--------------------------------------------TESTIMONIOS ----------------------------------------------*/

.contenedoropiniones{
    margin-top: 0.5rem;
}
 .opiniones{
    background-color: white;
    margin: 0 20px;
    padding:0 10px;
    border-radius: 20px;
    border: 0;
    height: 90% !important;
    width: 90%;
    margin-top: 2rem;
 }
  
 .card-img-top{
    max-width: 100px;
    border-radius: 50%;
    margin: 15px auto 0;
    box-shadow: 0 8px 20px -4px grey;
    width: 100px;
    height: 100px;
 
 }

 h4{
    color: #ffff00;
    font-size: 1.5rem;
    line-height: 1.1;
 }

 h4 span{
    font-size: 1rem;
    color: #666666;
 }

 .card-text{
    font-size: 1rem;
    color: #555;
    padding-bottom:0.6rem;
 }

 .carousel-indicators{
    left: 0;
    top: auto;
    bottom: -60px;
 }


  