body{
    background-color: black;
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(255, 255, 255, 0.1);
}

.sidebar .nav-link {
    font-weight: 500;
    color: yellow;
}
.sidebar .nav-link .feather {
    margin-right: 8px;
}
.logo{
    width: 80%;
    margin: 1em;
}
.contenido-placa{
    margin-top: 20px;
    display: flex;
    gap: 2%;
}
.input-group.flex-nowrap {
    height: 4em;
    width: fit-content;
}
.botonIngresar{
    background: #fff200;
    font-weight: 500;
}
.botonIngresar:hover{
    background-color: rgb(255, 217, 0);
}
#addon-wrapping {
    background: yellow;
    font-weight: 600;
    border-color: black;
}
input.form-control {
    border-color: black;
}
