body{
    background-color: black;
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(255, 255, 255, 0.1);
    background-image: url(../images/senalizacion.png);
    background-repeat: repeat-y;
    background-position: right;
    background-size: contain;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #ffff00;
}
.sidebar .nav-link .feather {
    margin-right: 8px;
}
.logo{
    width: 80%;
    margin: 1em;
}
.contenido-placa{
    margin-top: 20px;
    display: flex;
    gap: 2%;
}
.input-group.flex-nowrap {
    height: 4em;
    width: fit-content;
}
.botonIngresar{
    background: #ffff00;
    font-weight: 500;
}
.botonIngresar:hover{
    background-color: rgb(255, 217, 0);
}
.botonIngresar:active{
    background: rgb(255, 217, 0);
}
.btns {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #212529;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#addon-wrapping {
    background: #ffff00;
    font-weight: 600;
    border-color: black;
}
input.form-control {
    border-color: black;
}
.bd-example {
    position: relative;
    margin: 1rem -0.75rem 0;
    border: solid #dee2e6;
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-width: 1px 0 0;
    background: white;

}
tbody {
    background: black;
    color: yellow;
    text-transform: uppercase;
    text-align: center;
}
thead {
    background: yellow;
    text-align: center;
}
.eliminar{
    background: #af241a;
    color: white;
    border: 1px solid #cf453b;
    border-radius: 4px;
}.eliminar:hover{
    background: #d44a40;
    color: white;
    border: 1px solid #cf453b;
    border-radius: 4px;
}
.fin {
    width: 100%;
    background: #ffffff;
    border: 2px solid white;
    border-radius: 5px;
}
.fin:hover{
  
        width: 100%;
        background: yellow;
        border: 2px solid rgb(255, 230, 0);
        border-radius: 5px;
    
}
.color-icon{
    color: #af241a;
}


.copy{
    color: #ffff00a2;
    margin-top: 75% !important;
}
