.btn-editar, .btn-eliminar{
    border-radius: 10px;
    margin: 0 2% 2%;
}

.btn-editar:hover, .btn-eliminar:hover{
    color: white;
}

.btn-editar:hover {
    background-color: rgb(9, 9, 160) !important;
}

.btn-editar:active {
    background-color: rgb(9, 9, 160) !important;
}

.btn-eliminar:hover {
    background-color: rgb(175, 15, 15) !important;
}

.btn-eliminar:active {
    background-color: rgb(175, 15, 15) !important;
}

.btn-editar{
    background: blue !important;
}

.btn-eliminar{
    background: red !important;
}

.section-conenido{
    width: 98% !important;
    margin: 0 1% 2%;
}