.section-btns{
  margin-top: -1%;
  gap: 10px;
  justify-content: end;
}

.btn-agregar {
  width: auto !important;
  text-transform: uppercase;
  background: #ffff00 !important;
  font-weight: 500;
  color: black !important;
}

.btn-agregar:hover{
  background-color: rgb(255, 217, 0) !important;
}
.btn-agregar:active{
  background: rgb(255, 217, 0) !important;
}

.btn-editar, .btn-eliminar{
  width: auto !important;
  border-radius: 10px;
  margin: 0 3% 4%;
  color: black !important;
}

.btn-editar:hover, .btn-eliminar:hover{
  color: white !important;
}

.btn-editar:hover {
  background-color: rgb(9, 9, 160) !important;
}

.btn-editar:active {
  background-color: rgb(9, 9, 160) !important;
}

.btn-eliminar:hover {
  background-color: rgb(175, 15, 15) !important;
}

.btn-eliminar:active {
  background-color: rgb(175, 15, 15) !important;
}

.btn-editar{
  background: rgba(0, 0, 255, 0.575) !important;
}

.btn-eliminar{
  background: rgba(255, 0, 0, 0.575) !important;
}


.card__producto {
  height: 66vh;
  margin: 3% 3% 0;
  background: transparent !important;
  border: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px white;
  
}


.card__imagen {
  margin-top: 2%;
  height: 100%;
}
.card__imagen img {
  width: 70%;
  height: 35vh;
  object-fit: contain;
  /* border: 1px solid white; */
}

.section-conenido{
  color: #ffff00;
  width: 92% !important;
  height: 20vh;
  margin: 3% 4% 0;
}

p:nth-child(2){
  height: 7vh;
  line-height: 1;
  color: white;
  font-weight: 500;
  
}

p:nth-child(3){
  height: 4vh;
  margin-bottom: 0;
  font-weight: bold;
}

.section-conenido h3{
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid rgba(255, 255, 255, 0.658) ;
}