.section-btns{
  gap: 10px;
  justify-content: end;
}

.btn-agregar, .btn-modificar {
  width: auto !important;
  text-transform: uppercase;
  background: #ffff00 !important;
  font-weight: 500;
  color: black !important;
}

.btn-agregar:hover,
.btn-modificar:hover,
.btn-agregarCarrito:hover {
  background-color: rgb(255, 217, 0) !important;
}
.btn-agregar:active,
.btn-modificar:active,
.btn-agregarCarrito:active {
  background: rgb(255, 217, 0) !important;
}

.card__producto {
  height: 85vh;
  margin: 3% 3% 0;
  background: transparent !important;
  border: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 3px 1px white;
  
}


.card__imagen {
  height: 100%;
}
.card__imagen img {
  height: 35vh;
  object-fit: contain;
  /* border: 1px solid white; */
}

.section-conenido p{
  height: 7vh;
}

.btn-agregarCarrito {
  width: auto;
  height: 3rem;
  margin: 0 0 5%;
  font-size: 14px;
  border-radius: 10px;
  text-transform: uppercase;
  background: #ffff00;
  font-weight: bold;
}
