.section-login{
    margin: 5% 0 0 0;
    background-color: rgba(255, 255, 255, 0.089);
    box-shadow: 0px 0px 10px 0px white;
    border-radius: 5%;
}

.section-login h2{
    margin: 3%;
    color: #ffff00;
}

.section-login__form section{
    width: 100%;
}

.section-login__form input{
    height: 3rem;
    margin: 0 5% 5%;
}

.btn-login{
    width: 50%;
    height: 2.5rem;
    margin-left: 25%;
    margin-bottom: 5%;
    background: #ffff00;
    font-weight: 500;
}

.btn-login:hover {
    background-color: rgb(255, 217, 0);
  }
  .btn-login:active {
    background: rgb(255, 217, 0);
  }